*{
    margin: 0;
    padding: 0;
    background: rgb(216, 214, 214);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .apoio{
    color: transparent;
    margin-left: 90px;
}

h1{
    font-family: 'Arial Narrow Bold', sans-serif;
}

main form{
    width: 50%;
    margin: 50px auto;
}

a{
    text-decoration: none;
}

main form label,
main form button,
main form .dir span,
main form .inferior a{
    font-family:'Courier New', Courier, monospace;
}

main form .caixaSup{
    display: flex;
    border-radius: 5px;
}

main form .caixaSup .dir,
main form .caixaSup .dir label,
main form .caixaSup .esq,
main form .caixaSup .esq .caixa,
main form .caixaSup .esq .caixa label,
main form .caixaSup .esq .moradia,
main form .caixaSup .esq .moradia label,
main form .dir span *{
    background: rgb(180, 180, 180);
}

main form .caixaSup .dir, 
main form .caixaSup .esq .caixa,
main form .caixaSup .esq .moradia{
    padding: 15px;
}

main form .caixaSup .esq{
    width: 70%;
    display: flex;
    flex-direction: column;
}

main form .caixaSup .dir{
    width: 30%;
}

input,
select{
    padding: 10px;
    border-radius: 5px;
    border-color: black;
}

main form .caixaSup .esq .moradia .numero{
    width: 70px;
}

main form .inferior{
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

main form .inferior button,
main form .inferior a{
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 1.5px;
    font-size: medium;
}

body .centro{
    text-align: center;
}